################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kodovi/.vs/Projekat/v15
/Kodovi/Projekat/x64/Debug/Projekat.tlog
/Kodovi/Projekat/x64/Debug
/Kodovi/x64/Debug
